{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <section>
        {{ form_start(formArticle) }}
            {{ form_row(formArticle) }}
            <button type="submit" class="btn btn-success">Ajouter</button>
        {{ form_end(formArticle) }}
    </section>
{% endblock %}